<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Bank</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/admin/bank" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="name">Nama Bank</label>
                  <input type="text" class="form-control" name="nameBank" placeholder="Masukkan Nama Bank" required>  
                </div>
                <div class="form-group">
                    <label for="name">Nomor Rekening</label>
                    <input type="text" class="form-control" name="nomorRekening" placeholder="Masukkan Nomor Rekening" required>  
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" name="name" placeholder="Masukkan Nama" required>  
                  </div>
                  <div class="form-group">
                    <label for="name">Image</label>
                    <input type="file" class="form-control" name="image" required>  
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>