<%- include('../../partials/header') %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('../../partials/sidebar') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include('../../partials/navbar.ejs') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <%- include('../../partials/message.ejs') %>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Bank</h1>

                    <%- include('table_bank'); %>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include('../../partials/footer') %>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('add_modal.ejs') %>
    <%- include('edit_modal') %>
    <%- include('../../partials/script') %>

    <script>
        $('#dataTable').on('click', '.button-update', function(){
            let id = $(this).data('id');
            let name = $(this).data('name');
            let nameBank = $(this).data('namebank');
            let nomorRekening = $(this).data('nomorrekening');
            $('#edit-modal').modal('show');
            $('.id').val(id);
            $('.name').val(name);
            $('.nameBank').val(nameBank);
            $('.nomorRekening').val(nomorRekening);
        })
    </script>

</body>

</html>